body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./img/background.jpeg');
  
}

.container{
  display : flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
}